# Python
__pycache__/
*.pyc
.venv
.env

# VS Code
.vscode/
.vscodeignore

# Ignored files
PROJECT_LOG.md

# Ignored directories
/reports/
/instructions/
/prompts/
/notebooks/
/progress/
database.dbold
.vscodeignore
